<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .text-color-mz1 {
            color: darkgreen;
        }

        .bg-color-mz1 {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body class="bg-light">
<div class="container-fluid bg-white shadow-sm mt-5 mb-2 text-color-mz1 fs-4 text-center fw-bolder pt-3 pb-3">
    Java Start. Lombok i RestTemplate. <br/>
    Zadanie 31_1 Pogoda korzystając z Weather API (https://openweathermap.org/).
</div>
<div class="container-fluid row text-center mt-5">
    <div class="col"></div>
    <div class="col-md-6 border border-primary rounded text-dark p-5">
        <form th:action="@{/check-temp}" method="post" class="needs-validation" novalidate>

            <input name="q" type="text" minlength="3" required class="form-control"/>
            <div class="invalid-feedback">
                Proszę wpisać nazwę!
            </div>

            <label for="sel1" class="form-label my-3">Język komunikatu:</label>
            <select class="form-select-sm" name="lang" id="sel1">
                <option value="pl" th:each="lang : ${languageList}" th:value="${lang}" th:text="${lang.description}">pl</option>
            </select>

            <br/>
            <label for="sel2" class="form-label my-3">Wybierz jednostkę temperatury:</label>
            <select class="form-select-sm" name="unit" id="sel2">
                <option th:each="unita : ${unitList}" th:value="${unita}"
                        th:text="${unita.description}">
                </option>
            </select>


            <div class="my-3">
                <button class="btn btn-secondary" type="reset">Wyczyść formularz</button>
                <button class="btn btn-primary" type="submit">Szukaj</button>
            </div>

        </form>

    </div>
    <div class="col"></div>
</div>
<div class="container-fluid bg-color-mz1 text-secondary shadow-sm mt-5 mb-2 fs-6 text-center pt-3 pb-3">
    Michał Zygor, 11.03.2021
</div>


<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>